/* Radio */
.radio-box {
    display: flex;
    align-items: center;
}

.radio-box input[type=radio] {
    --active: #275EFE;
    --active-inner: #f4f4f4;
    --border: #b4b4b4;
    --border-hover: #b4b4b4;
    --background: #f4f4f4;
    --disabled: #f4f4f4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 24px;
    width: 24px;
    outline: none;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 300ms, border-color 300ms, box-shadow 300ms;
}

.radio-box input[type=radio]:after {
    content: "";
    display: block;
    left: -3.5px;
    top: -3.5px;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}

.radio-box input[type=radio]:checked {
    --b: #F4F4F4;
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.radio-box input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.7;
}

.radio-box input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
}

.radio-box input[type=radio]:disabled:not(:checked):after {
    background-color: #f4f4f4;
}

.radio-box input[type=radio]:disabled:checked:after {
    background-color: #b4b4b4;
}

.radio-box input[type=radio]:focus {
    outline: none;
    border-color: #3197EE;
}

.radio-box input[type=radio]:disabled+label {
    cursor: not-allowed;
}

.radio-box input[type=radio]:disabled+span {
    cursor: not-allowed;
}

.radio-box input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}

.radio-box input[type=radio]:focus {
    box-shadow: 0 0 0 #f4f4f4;
}

.radio-box input[type=radio]:not(.switch):after {
    opacity: 1;
}

.radio-box label.radio-labeled,
.radio-box input[type=radio]+label {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

.radio-box label.radio-labeled {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-box input[type=radio] {
    border-radius: 50%;
}

.radio-box input[type=radio]:after {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
}

.radio-box input[type=radio]:checked {
    --s: 0.575;
}

.radio-box input[type=radio]:checked:after {
    background-color: #3197EE;
    top: -3px;
    left: -3px;
}

.radio-inline {
    margin: 0.5rem;
    display: inline-block;
}

@media screen and (min-width: 280px) and (max-width: 680px) {
    .radio-box {
        margin: 0.25em;
    }

    .radio-box input[type="radio"]+.radio-title:before {
        margin-right: 0.25em;
    }
}
